*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Roboto;}

#wrapper header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;

}
#wrapper header h1{
    color: blue;
    
}
#wrapper header h1 span{
    color: black;
}  
#wrapper header ul {
    display: flex;
    list-style:none ;
}
#wrapper header ul li{
    padding: 20px 40px;
}
#wrapper header ul li a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
}
#wrapper header ul li:last-child a{
    background-color: blue;
    color: rgb(248, 249, 250);
    border-radius: 5px;
}

#wrapper .firstpage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 80px);
}
.firstpage .firstleft{
    width: 50%;
}
.firstright{
    width: 50%;
}
.firstleft h1{
    font-size: 60px;
     padding: 20px 50px;
}
.firstleft p{
    padding: 10px 50px 30px 50px ;
    font-size: 20px;
}
.firstleft a{
    padding: 10px 30px;
    margin: 50px ;
    text-decoration: none;
    background-color: blue;
    border-radius: 5px;
    color: aliceblue;
}
.firstright{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.secondpage{
    height: 50vh;
}
.secondpage h1{
    text-align: center;
    padding: 50px 0  20px 0;

}
.secondpage a{
    text-decoration: none;
    text-align: center;
    padding: 25px;

}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.img img{
    width:80%;
    height: 40px;

}
.boxes{
    display: flex;
    justify-content: center;
   
    text-align: center;
    padding-bottom: 50px;
}
.box{
    display: flex;
    
    flex-direction: column;
     align-items: center;
    border: 2px solid black;
    height: 400px;
    width: 25%;
    margin: 10px;
    border-radius: 10px;
}
.box img{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 130px;
    width: 130px;
margin: 20px;


}
.box h3{
    padding: 10px 0x;
}
.box span{
    padding: 10px 0;
}
.box p{
    padding: 10px ;
}
.box ul{
list-style: none;
display: flex;
justify-content: center;
text-align: center;
flex-wrap: wrap;
width: 88%;

}
.box ul li{
    padding: 5px 10px;
    margin: 2px;
    border-radius: 20px;
   
    background-color: rgb(51, 41, 41);
    color: #fff;
}
.threepage{
    text-align: center;
}
.threepage h1{
    padding: 20px 10px 60px 10px;
    font-size: 50px;
    font-weight: 900;
}
.fourthpage{
    background: url("images/our-commitment-bg-1.jpeg")  no-repeat center /cover ;
    padding: 3rem 1.5rem;
   
}
.fourthpage .threebox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    
}
.fbox{
    border: 3px solid black;
    color: #fff;
    padding: 10px;
    margin: 10px;
    height: 240px;
    width: 45%;
    text-align: center;
    border-radius: 15px;
    background-color:rgba(0,0,0 ,0.8);
   

   
    
}
.content{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 padding: 1rem;

 z-index: 1;}
.fbox img{
    padding: 0.5rem;
    height: 80px;
    width: 100px;

}
.fourthpage h1{
    color: #fff;}
.fbox h3{
        padding: 10px 0;
    }
.fbox p{
    padding: 10px 0;
}
.fivepage{
    background-color: #f1f1f1;
}
.fivecontent{
    display: flex;
    justify-content: center;
    width: 70%;
   text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.fivepage h1{
    font-weight: 800;
    width: 50%;
    padding: 50px 10px 30px 10px;
    margin: 0 auto;
}
.fivelistt{
   
    padding: 10px 25px;
    margin: 15px;
}
.fivelistt span{
    display: inline-block;
    width: 300px;
    text-align:left;
    padding: 10px ;

}
.fivelistt h2{
    padding: 10px;
    text-align: left;
}

.fivelistt i{
    display: flex;
    text-align: left;
    justify-content: left;
    padding: 10px;
    font-size: 40px;
}

.sixtop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sixleft{
    width: 50%;
}
.sixright{
    width: 50%;
    padding-left: 80px;
}
.sixone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sixicon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixcontant{
    
    width: 70%;
    padding-left: 50px;
}

.sixcontant h2 {
    width: 90%;
    text-align: left;
    font-size: 22px;
}
.sixcontant p{
  text-align: left;
  width: 90%;
}
.sixicon p{ 
    font-size: 25px;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
    padding: 30px;
   border: 10px solid blue;
    color: #1d06f0;
}
.sevenpage{
    background-color: #5746f7;
    text-align: center;
    color: #f1f1f1;
    display: flex;
    
   
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1rem 5rem 1rem;
}
.sevenpage h2{
    font-size: 30px;
    font-weight: 900;
    width: 45%;
    padding-bottom: 20px;
margin: 0 auto;
}
.peragraph{
    padding: 20px;
}
.peragraph span{
    font-size: 20px;
}
.peragraph .dev{
    padding: 10px 30px;
    background-color: #260ff7;
    color: #f1f1f1;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
}
.peragraph .job{
    margin: 10px;
    padding: 10px 30px;
    background-color: #948bec;
    color: #f1f1f1;
    border-radius: 10px;
    text-decoration: none;
}
.eightpage{
    background-color: #1d06f0;
    color: #fff;
    padding: 5rem 8rem 8rem 8rem;
}
.eightpage h2{
    padding-bottom: 10px;
}
.iconleft .lefticon{
    font-size: 25px;
    padding-bottom: 10px;
}
.lefticon i{
    padding: 5px 10px 5px 0;
}
.iconleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}
.iconleft ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.iconleft ul li{
    padding-left: 30PX;
}


@media screen  and(min-width:30px)and (max-width:1000px){
  
}
    
